.cell-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
}