.addBooks {
    flex: 0.3;
    padding-right: 20px;
    margin-top: 20px;
}

.addBooks>form {
    display: flex;
    flex-direction: column;
}

.addBooks_input {
    height: 25px;
    margin-bottom: 10px;
}

.addBooks_button {
    margin-top: 10px;
    /* width: 100px; */
    padding: 10px 15px;
    cursor: pointer;
}

.addBooks_button:hover {
    background-color: red;
}